body {
    font-family: 'Arial', sans-serif;
    background-color: #d8dbf9;
    color: #3b0202;
    margin: 0;
    padding: 0;
}

header {
    background-color: #035642;
    color: rgb(234, 234, 235);
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    width: 80%;
    margin: 20px auto;
}

.introduction, .ingredients, .instructions {
    background-color: #e8c5ee;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(17, 1, 1, 0.1);
}

.ingredients h2, .instructions h2 {
    color: #240117;
}

ul, ol {
    margin-left: 20px;
}

footer {
    text-align: center;
    background-color: #02242f;
    color: white;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
